<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello {{ name }} !</h1>

        <p>
            <a href="{{ url }}">Generated url from the Controller</a>
        </p>

        <p>
            <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">
                Generated url from Twig (use "url" instead of "path" to get an absolute path)
            </a>
        </p>

        <p>slug/year/format = {{ slug ~ year ~ format }}</p>
    </body>
</html>